# APP
APP_NAME=fastapi-tistory
APP_ENV=local
APP_DEBUG=True
APP_URL=http://localhost:9095

# NOTEBOOK
JUPYTER_TOKEN=

# MySQL
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fastapi
DB_USERNAME=root
DB_PASSWORD=root

# MongoDB
MONGO_DB_CONNECTION=mongodb
MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=fastapi
MONGO_DB_USERNAME=admin
MONGO_DB_PASSWORD=admin
MONGO_DB_AUTH_DATABASE=admin

# PATH
STORAGE_PATH=storage

# GROQ
groq_key=